<div class="w12col h12col">
    
    <div class="psa t0 l0 w2col h2col border"></div>
    <div class="psa t2col l0 w2col h2col border"></div>
    <div class="psa t0 l2col w4col h4col border"></div>
    <div class="psa t0 l6col w4col h4col border"></div>
    <div class="psa t0 l10col w2col h2col border"></div>
    <div class="psa t2col l10col w2col h2col border"></div>
    
    <div class="psa t4col l0 w4col h4col border"></div>
    <div class="psa t4col l4col w2col h2col border"></div>
    <div class="psa t6col l4col w2col h2col border"></div>
    <div class="psa t4col l6col w2col h2col border"></div>
    <div class="psa t6col l6col w2col h2col border"></div>
    <div class="psa t4col l8col w4col h4col border"></div>
    
    <div class="psa t8col l0 w2col h2col border"></div>
    <div class="psa t10col l0 w2col h2col border"></div>
    <div class="psa t8col l2col w4col h4col border"></div>
    <div class="psa t8col l6col w4col h4col border"></div>
    <div class="psa t8col l10col w2col h2col border"></div>
    <div class="psa t10col l10col w2col h2col border"></div>
    
</div>