<div class="w12col h12col">
    
    <div class="psa t0 l0 w4col h4col border"></div>
    <div class="psa t0 l4col w4col h4col border"></div>
    <div class="psa t0 l8col w4col h4col border"></div>
    <div class="psa t4col l0 w4col h4col border"></div>
    <div class="psa t4col l4col w4col h4col border"></div>
    <div class="psa t4col l8col w4col h4col border"></div>
    <div class="psa t8col l0 w4col h4col border"></div>
    <div class="psa t8col l4col w4col h4col border"></div>
    <div class="psa t8col l8col w4col h4col border"></div>
    
    <div class="psa t1col l1col w2col h2col border"></div>
    <div class="psa t1col l9col w2col h2col border"></div>
    <div class="psa t9col l1col w2col h2col border"></div>
    <div class="psa t9col l9col w2col h2col border"></div>
    
    <div class="psa t2col l2col w8col h8col border"></div>
    
</div>