@font-face {
    font-family: "Pitch";
    src: url('./fonts/Pitch_Regular.otf') format("opentype");
}

html {
    font-family: "Pitch";
    -webkit-font-smoothing: antialiased;
}

a {
    color: inherit;
}

body {
    background: var( --background-color );
    color: var( --text-color );
    font-size: 13px;
    @include large {
        font-size: 14px;
    }
}