{% import 'macros/macros' as m %}
{% if image %}
    <div class="dx xww" data-dynamic-background="{{ m.srcset( image ) }}">
        <div class="s-w1 s-h1 border">
            {% include 'modules/utils/image' with { image: image, ratio: 1 } only %}
            {% if frame == 'frame1' %}
                {% include 'modules/utils/frame1' %}
            {% elseif frame == 'frame2' %}
                {% include 'modules/utils/frame2' %}
            {% endif %}
        </div>
    </div>
{% endif %}