{% import 'macros/macros' as m %}

{% if image %}
    <div class="dx xww" data-dynamic-background="{{ m.srcset( image ) }}">
        <div class="s-w1 s-h1 m-w2 m-h2 m-xo1 border">
            {% include 'modules/utils/image' with { image: image, ratio: 1 } only %}
        </div>
        <div class="s-w2 s-h1 m-w4 m-h2 m-xo0">
            {% if text | length <= 3 %}
                <div class="s-w2 s-h1 m-w4 m-h2 border">
                    {% include 'modules/utils/text' with text[ 0 ] only %}
                </div>
            {% else %}
                <div class="s-w2 s-h2 m-w4 m-h4 border">
                    {% include 'modules/utils/text' with text[ 0 ] only %}
                </div>
                <div class="s-w2 s-h2 m-w4 m-h4 border">
                    {% include 'modules/utils/text' with text[ 1 ] only %}
                </div>
            {% endif %}
        </div>
        <div class="s-w2 s-h1 m-w4 m-h2 m-xo2">
            {% switch text | length %}
                {% case 2 %}
                    <div class="s-w2 s-h1 m-w4 m-h2 border">
                        {% include 'modules/utils/text' with text[ 1 ] only %}
                    </div>
                {% case 3 %}
                    <div class="s-w2 s-h2 m-w4 m-h4 border">
                        {% include 'modules/utils/text' with text[ 1 ] only %}
                    </div>
                    <div class="s-w2 s-h2 m-w4 m-h4 border">
                        {% include 'modules/utils/text' with text[ 2 ] only %}
                    </div>
                {% case 4 %}
                    <div class="s-w2 s-h2 m-w4 m-h4 border">
                        {% include 'modules/utils/text' with text[ 2 ] only %}
                    </div>
                    <div class="s-w2 s-h2 m-w4 m-h4 border">
                        {% include 'modules/utils/text' with text[ 3 ] only %}
                    </div>
            {% endswitch %}
        </div>
    </div>
{% endif %}