{% import 'macros/macros' as m %}

<div class="dx xww">
    <div class="s-w1 s-h1 m-w2 m-h2 border">
        {% include 'modules/utils/image' with { image: image, ratio: 1 } only %}
    </div>
    <div class="s-w1 s-h1 m-w2 m-h2 dx xww">
        {% switch text | length %}
            {% case 1 %}
                <div class="s-w1 s-h1 m-w2 m-h2 border">
                    {% include 'modules/utils/text' with text[ 0 ] only %}
                </div>
            {% case 2 %}
                <div class="s-w1 s-h2 m-w2 m-h4 border">
                    {% include 'modules/utils/text' with text[ 0 ] only %}
                </div>
                <div class="s-w1 s-h2 m-w2 m-h4 border">
                    {% include 'modules/utils/text' with text[ 1 ] only %}
                </div>
            {% case 3 %}
                <div class="s-w1 s-h2 m-w2 m-h4 border">
                    {% include 'modules/utils/text' with text[ 0 ] only %}
                </div>
                <div class="s-w2 s-h2 m-w4 m-h4 border">
                    {% include 'modules/utils/text' with text[ 1 ] only %}
                </div>
                <div class="s-w2 s-h2 m-w4 m-h4 border">
                    {% include 'modules/utils/text' with text[ 2 ] only %}
                </div>
            {% case 4 %}
                <div class="s-w2 s-h2 m-w4 m-h4 border">
                    {% include 'modules/utils/text' with text[ 0 ] only %}
                </div>
                <div class="s-w2 s-h2 m-w4 m-h4 border">
                    {% include 'modules/utils/text' with text[ 1 ] only %}
                </div>
                <div class="s-w2 s-h2 m-w4 m-h4 border">
                    {% include 'modules/utils/text' with text[ 2 ] only %}
                </div>
                <div class="s-w2 s-h2 m-w4 m-h4 border">
                    {% include 'modules/utils/text' with text[ 3 ] only %}
                </div>
        {% endswitch %}
    </div>
</div>