<div class="dx xww">
    {% for product in products %}
        <div class="s-w1 s-h1 m-w2 m-h2 border">
            <a href="{{ product.productLink }}" target="_blank" class="fill">
            {% include 'modules/utils/image' with { image: product.image.one, ratio: 1 } only %}
            </a>
        </div>
    {% endfor %}
</div>