<div class="dx xww">
    <div class="s-w1 s-h2 m-w2 m-h4 m-xo1 border">
        {% include 'modules/utils/video' with { url: embed } only %}
    </div>
    <div class="s-w2 s-h2 m-w4 m-h4 m-xo0 border">
        {% include 'modules/utils/text' with text[ 0 ] only %}
    </div>
    <div class="s-w2 s-h2 m-w4 m-h4 m-xo2 border">
        {% include 'modules/utils/text' with text[ 1 ] only %}
    </div>
</div>