<div class="dx xww">
    <div class="s-w1 s-h2 m-w8col m-h4col m-xo1 border">
        {% include 'modules/utils/video' with { url: embed } only %}
    </div>
    <div class="s-w2 s-h1 m-w2col m-h4col m-xo0">
        <div class="s-w2 s-h2 m-w6 m-h6 border">
            {% include 'modules/utils/text' with text[ 0 ] only %}
        </div>
        <div class="s-w2 s-h2 m-w6 m-h6 border">
            {% include 'modules/utils/text' with text[ 1 ] only %}
        </div>
    </div>
    <div class="s-w2 s-h1 m-w2col m-h4col m-xo2">
        <div class="s-w2 s-h2 m-w6 m-h6 border">
            {% include 'modules/utils/text' with text[ 2 ] only %}
        </div>
        <div class="s-w2 s-h2 m-w6 m-h6 border">
            {% include 'modules/utils/text' with text[ 3 ] only %}
        </div>
    </div>
</div>